@use '../styles/partials/globals' as *;

.pageheader{
    position : fixed;
    top: 0;
    left: 0;
    z-index: 5;
    height : 100px;

    background-color: rgba($primary-white, 1.0);
    border: 1px solid $secondary-mercury;

    &__article {
        justify-content: space-between;
        height: 100%;
        
        &__right{
            display: flex;
            flex-flow: row;
            align-items: center;
        }

        &__cart{
            display: flex;
            flex-flow: column;
            align-items: center;
            
            .cartcount{
                z-index: 10;
                margin-bottom: -20px;
            }
            .carttotal{
                z-index: 10;
                margin-top: -20px;
            }
        }
    }
}

.pagebody{
    margin-top: 100px;
    min-height: 400px;
}

.sidemenu{
    article{
        position : relative;
        background: rgba($primary-silver, 0.5);
        margin-top: -24px;
        border: 1px solid $secondary-mercury;

        div{
            position : absolute;
            top: 0;
            left: 0;
            z-index: 100;
            width: 100%;
            height: 200px;
            background: rgba($primary-white, 1.0);
            box-shadow: -1rem 1rem 1rem rgba($primary-black, 0.2);
        }
    }
}

.productdisplay{
    display: block;
    &__list{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        &__products{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
        }

        button {
            width: 20px;
            height: 20px;
        }

        &__image{
            img{
                width: 100px;
                height: 100px;                    
            }
        }
    }
}

.checkoutdisplay{
    display: block;
    &__list{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        
        &__item{
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
        }

        button {
            width: 20px;
            height: 20px;
        }

        &__image{
            img{
                width: 100px;
                height: 100px;                    
            }
        }
    }
}