@use "sass:map";

@font-face {
  font-family: "Avenir Next";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Avenir Next Bold";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
}

$font-stack: "Avenir Next";
$base-font-size-mobile: 13px; //body copy
$base-font-size-desktop: 14px; //body copy

$screentypes: "desktop", "tablet", "mobile";
$styleindices: "pageheader", "sectionheader", "subheader", "bodycopy",
  "footercopy", "labelsbuttons";
$font-types: (
  "pageheader": "#{$font-stack} #{"Bold"}",
  "sectionheader": "#{$font-stack}",
  "subheader": "#{$font-stack}",
  "bodycopy": "#{$font-stack}",
  "labelsbuttons": "#{$font-stack}",
);

//60px = 4.2875rem
$font-weights-desktop: (
  "pageheader": 700,
  "sectionheader": 700,
  "subheader": 700,
  "bodycopy": 400,
  "labelsbuttons": 700,
);
$line-heights-desktop: (
  "pageheader": 44px,
  "sectionheader": 20px,
  "subheader": 22px,
  "bodycopy": 22px,
  "labelsbuttons": 20px,
);
$font-sizes-desktop: (
  "pageheader": 33px,
  "sectionheader": 12px,
  "subheader": 14px,
  "bodycopy": 14px,
  "labelsbuttons": 12px,
);

//24px = 1.84rem
$font-weights-mobile: (
  "pageheader": 700,
  "sectionheader": 700,
  "subheader": 700,
  "bodycopy": 400,
  "labelsbuttons": 700,
);
$line-heights-mobile: (
  "pageheader": 32px,
  "sectionheader": 20px,
  "subheader": 18px,
  "bodycopy": 18px,
  "labelsbuttons": 20px,
);
$font-sizes-mobile: (
  "pageheader": 24px,
  "sectionheader": 12px,
  "subheader": 13px,
  "bodycopy": 13px,
  "labelsbuttons": 12px,
);
//End of Font Definitions

$desktop-screenlower: 1280px;
$tablet-screenmax: 1279px;
$tablet-screenlower: 768px;
$mobile-screenmax: 767px;
$mobile-screenlower: 320px;

$page-maxwidth: 1020px;

$page-tabletmargin: 36px;
$page-mobilemargin: 16px;

$page-paddingbase: 8px;
$page-padding-mobile: calc(#{$page-paddingbase} * 2);
$page-padding-desktop: calc(#{$page-paddingbase} * 3);
$page-padding-multiplier1: 1; //mobile
$page-padding-multiplier2: 1; //desktop tablet